/* Gloabl */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #795548;
  font-family: monospace, sans-serif;
  font-size: 2rem;
}

/* Newsletter */
.newsletter {
  background: #80DEEA;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  border-radius: 2rem;
}

/* Newsletter header */
.newsletter__header {
  margin: 3rem auto;
  text-transform: capitalize;
}

/* Box */
.box {
  display: flex;
  position: relative;
  top: 10%;
  left: 20%;
  margin-top: 7rem
}

/* Icon */
.newsletter__icon {
  background: #282c2f;
  color: #eee;
  padding: 1rem;
}

/* input */
.newsletter__input {
  width: 0;
  border: 0;
  outline: none;
  text-align: center;
  transition: .3s;
  text-transform: capitalize;
}

.box:hover>.newsletter__input, .newsletter__input:focus {
  width: 11rem;
}

/* Button */
.newsletter__btn {
  background: #282c2f;
  width: 8rem;
  cursor: pointer;
  border: 0;
  outline: none;
  color: #eee;
  box-shadow: .5rem .4rem .2rem rgba(69, 69, 69, 0.31);
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: bold;
}

.newsletter__btn:hover {
  box-shadow: .5rem .2rem .5rem rgba(69, 69, 69, 0.31);
}

.newsletter__btn:active {
  box-shadow: .5rem .4rem .2rem rgba(69, 69, 69, 0.31);
}

/* Note */
.newsletter__note {
  font-size: 1.5rem;
  margin-top: 12rem;
}

.newsletter__note--color {
  color: #FF8A65;
  text-decoration: underline;
  text-transform: uppercase;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .newsletter {
    width: 50vh;
  }

  .box:hover>.newsletter__input, .newsletter__input:focus {
    width: 10rem;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 1.5rem;
  }

  .newsletter {
    width: 40vh;
  }

  .box {
    left: 7%;
  }
}

@media screen and (max-width: 270px) {
  body {
    font-size: 1.3rem;
  }

  .newsletter {
    width: 30vh;
  }

  .box {
    left: 0%;
  }
}